<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <!-- Ofertas -->
  <ion-tab title="Ofertas" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/menu/ofertas">
    <ion-nav-view name="menu-ofertas"></ion-nav-view>
  </ion-tab>

  <!-- Locais -->
  <ion-tab title="Locais" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/menu/locais">
    <ion-nav-view name="menu-locais"></ion-nav-view>
  </ion-tab>

  <!-- Favoritos -->
  <ion-tab title="Favoritos" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/menu/favoritos">
    <ion-nav-view name="menu-favoritos"></ion-nav-view>
  </ion-tab>

  <!-- Favoritos -->
  <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/menu/admin">
    <ion-nav-view name="menu-admin"></ion-nav-view>
  </ion-tab>

</ion-tabs>
