<ion-view view-title="Ofertas">
  <ion-content class="padding">
    <div class="row item-oferta-pequeno">
      <div class="col col-75">
        <div class="row titulo-oferta">Cerveja Skol</div>
        <div class="row">Pack com 24 unidades de 250ml</div>
      </div>
      <div class="col col-25 bloco-valor-tempo">
        <div class="row valor-oferta">R$ 78,89</div>
        <div class="row tempo-oferta">
          <span class="step size-14">
            <i class="icon ion-android-time"></i>
          </span>3h20m
        </div>
      </div>
    </div>

    <div class="row item-oferta-pequeno">
      <div class="col col-75">
        <div class="row titulo-oferta">Cerveja Skol</div>
        <div class="row">Pack com 24 unidades de 250ml</div>
      </div>
      <div class="col col-25 bloco-valor-tempo">
        <div class="row valor-oferta">R$ 78,89</div>
        <div class="row tempo-oferta">
          <span class="step size-14">
            <i class="icon ion-android-time"></i>
          </span>3h20m
        </div>
      </div>
    </div>

    <div class="row item-oferta-pequeno">
      <div class="col col-75">
        <div class="row titulo-oferta">Cerveja Skol</div>
        <div class="row">Pack com 24 unidades de 250ml</div>
      </div>
      <div class="col col-25 bloco-valor-tempo">
        <div class="row valor-oferta">R$ 78,89</div>
        <div class="row tempo-oferta">
          <span class="step size-14">
            <i class="icon ion-android-time"></i>
          </span>3h20m
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
