<ion-view view-title="Perfil">
  <ion-content class="no-padding">
    <div class="informacoes-perfil">
      <div class="row">
        <div class="circle" style="background-image: url('img/obama.jpg')"></div>
      </div>
      <div class="row">
        <div class="col col-100 nome-perfil">Barack Obama</div>
      </div>
      <div class="row">
        <div class="col col-100 tipo-perfil">Comerciante</div>
      </div>
    </div>
  </ion-content>
</ion-view>
