<ion-view title="Bebida">

    <ion-nav-buttons side="right">
        <button class="button button-clear ion-plus" ng-click="abrirModal()"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Atualizar Dados" on-refresh="atualizarLista()"></ion-refresher>

        <ion-list>
            <ion-item ng-repeat="item in listarTipoBebida">
                <h2>Id: {{item.id_tipo_bebida}}</h2>
                <p><i class="icon-google-wallet"></i> {{item.nom_tipo_bebida}}</p>

                <ion-option-button class="button-positive"  ng-click="abrirModal(item)">editar</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="excluir(item, $index)">excluir</ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>



<script id="modal.html" type="text/ng-template">
  <ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" ng-show="isIncluir">Inserir Bebida</h1>
        <h1 class="title" ng-show="!isIncluir">Editar Bebida</h1>
        <button class="button button-clear ion-close-round" ng-click="fecharModal()"></button>
    </ion-header-bar>

    <ion-content>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Marca
                </div>
                <select>
                    <option>Selecione</option>
                    <option ng-repeat="item in listarMarcas" value="{{item.id_marca}}">{{item.nom_marca}}</option>
                </select>
            </label>
        </div>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Tipo de Bebida
            </div>
            <select>
                <option>Selecione</option>
                <option ng-repeat="item in listarTipoBebida" value="{{item.id_tipo_bebida}}">{{item.nom_tipo_bebida}}</option>
            </select>
          </label>
        </div>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Título da Bebida</span>
            <input type="text" placeholder="Informe o título da bebida" ng-model="valoresModal.titulo">
          </label>
        </div>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">SubTítulo da Bebida</span>
            <input type="text" placeholder="Informe o subtítulo da bebida" ng-model="valoresModal.subtitulo">
          </label>
        </div>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Descrição da Bebida</span>
            <input type="text" placeholder="Informe descrição da bebida" ng-model="valoresModal.descricao">
          </label>
        </div>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Tamanho da Bebida</span>
            <input type="text" placeholder="Informe o tamanho da bebida" ng-model="valoresModal.tamanho">
          </label>
        </div>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Imagem da Bebida</span>
            <input type="text" placeholder="Informe a imagem da bebida" >
          </label>
        </div>

        <div align="center">
          <button ng-show="isIncluir"   class="button button-balanced" ng-click="incluir()">Inserir</button>
          <button ng-show="!isIncluir"  class="button button-balanced" ng-click="editar()">Editar</button>
        <div>

    </ion-content>
  </ion-modal-view>
</script>
