<ion-view title="Marca das Bebidas">

    <ion-nav-buttons side="right">
        <button class="button button-clear ion-plus" ng-click="abrirModal()"></button>
    </ion-nav-buttons>

    <ion-content>

      <ion-refresher pulling-text="Atualizar Dados" on-refresh="atualizarLista()"></ion-refresher>

      <ion-list>
          <ion-item ng-repeat="item in listarMarcas">
              <h2>Id: {{item.id_marca}}</h2>
              <p><i class="icon-google-wallet"></i> {{item.nom_marca}}</p>

              <ion-option-button class="button-positive"  ng-click="abrirModal(item)">editar</ion-option-button>
              <ion-option-button class="button-assertive" ng-click="excluir(item, $index)">excluir</ion-option-button>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>

<script id="modal.html" type="text/ng-template">
  <ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" ng-show="isIncluir">Inserir Marca</h1>
        <h1 class="title" ng-show="!isIncluir">Editar Marca</h1>
        <button class="button button-clear ion-close-round" ng-click="fecharModal()"></button>
    </ion-header-bar>

    <ion-content>

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome da Marca</span>
          <input type="text" placeholder="Informe o nome da nova marca" ng-model="valoresModal.nom_marca">
        </label>
      </div>

      <div align="center">
        <button ng-show="isIncluir"   class="button button-balanced" ng-click="incluir()">Inserir</button>
        <button ng-show="!isIncluir"  class="button button-balanced" ng-click="editar()">Editar</button>
      <div>

    </ion-content>
  </ion-modal-view>
</script>
