<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">

          <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
          </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view name="menu-usuario"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-header-bar class="bar-assertive">
            <div class="title">Opções</div>
        </ion-header-bar>

        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.bebida" menu-close="">Bebida</ion-item>
                <ion-item ui-sref="menu.marcaBebida" menu-close="">Marca da Bebida</ion-item>
                <ion-item ui-sref="menu.tipoBebida" menu-close="">Tipo da Bebida</ion-item>
                <ion-item ui-sref="menu.ofertas" menu-close="">Ofertas</ion-item>
                <ion-item ui-sref="menu.mapa" menu-close="">Mapa</ion-item>
                <ion-item>Contato</ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>
