/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$energized:                       #F9A825 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.goosgleapis.com/css?family=Open+Sans:400,600,400italic") format("truetype");
  font-weight: 600;
  font-style: normal; 
}

ion-content{
	background-color: #EFEFEF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.item-oferta-pequeno{
	background-color: #FFFFFF;
	border-radius: 5px;
	border-left: 5px solid #F9A825;
	color: #9E9E9E;
	box-shadow:  0 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;

	.bloco-valor-tempo{
		border-left: 1px solid #E0E0E0;
	}

	.titulo-oferta{
		font-weight: 600;
		color: #757575;
	}

	.valor-oferta{
		font-weight: 600;
		color: #F57F17;
		text-align: center;
		display: block;
	}

	.tempo-oferta{
		font-size: 0.9em;
		text-align: center;
		display: block;
	}
}
.informacoes-perfil{
	background-color: #FFFFFF;
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.10);
	color: #F57F17;
	padding:15px;
	
	.circle {
		display: block;
		width: 120px;
		height: 120px;
		margin: 0px auto 15px auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 99em;
		border: 5px solid #eee;
		box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
		}

	.nome-perfil{
		font-weight: 600;
		text-align: center;
		font-size: 1.2em;
		margin:0px;
		padding:0px;
	}
	.tipo-perfil{
		font-style: italic;
		text-align: center;
		margin:0px;
		padding:0px;
	}
}